[submodule "Dream/vendor/spdlog"]
	path = Dream/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Dream/vendor/GLFW"]
	path = Dream/vendor/GLFW
	url = https://github.com/TheCherno/glfw
